<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="checkbox" name="item1" checked id="1" />
    <input type="checkbox" name="item2" id="2" />
    <input type="checkbox" name="item3" checked id="3" />
    <input type="checkbox" name="item4" id="4" />
    <input type="checkbox" name="item5" checked id="5" />
  </body>
  <script>
    // Lấy tất cả các phần tử input có thuộc tính type là checkbox
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    console.log(checkboxes);
    // Tạo một mảng để lưu trữ các phần tử đã chọn
    var checkedItems = [];

    // Lặp qua từng checkbox để kiểm tra trạng thái checked
    checkboxes.forEach(function (checkbox) {
      if (checkbox.checked) {
        // Nếu checkbox được chọn, thêm phần tử tương ứng vào mảng checkedItems
        checkedItems.push(checkbox);
      }
    });

    // In ra các phần tử có checkbox được chọn
    checkedItems.forEach(function (item) {
      console.log(item.id);
    });
  </script>
</html>
